<mat-card>
  <section>
    <form [formGroup]="postForm" (ngSubmit)="savePost()">
      <mat-form-field>
        <textarea matInput placeholder="Post content" formControlName="content" cols="20" rows="5"></textarea>
      </mat-form-field>
      <mat-slide-toggle formControlName="isPublic"  color="primary">
        Public
      </mat-slide-toggle>
      <button mat-raised-button color="primary" style="float:right;" type="submit">Share</button>
    </form>
  </section>
</mat-card>

<app-post-list></app-post-list>